body{
  background-color: rgba(225, 65, 198, 0.082);
}
h1{
    font-style: italic;
    color:rgba(204, 50, 153, 0.356);
 }
 h2{
    font-style: italic;
    color: rgba(204, 50, 153, 0.356);
}
h3{
    font-style: italic;
    color: rgba(204, 50, 153, 0.356);
}
h4{
    font-style: italic;
    color:rgba(204, 50, 153, 0.356) ;
    
}